
.create-content {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 60px;
}

h5 {
    color: #fff;
    margin-bottom: 20px; /* Add some space below the heading */
}

.post-form-container {
    background-color: #141414;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profile-pic {
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.profile-name {
    color: #fff;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 80px;
    border: none;
    border-radius: 5px;
    background-color: #292929;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
    border: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.attachment-btn {
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.attachment-btn svg {
    margin-right: 5px;
}

.attachment-btn:hover {
    background-color: #292929;
}

.file-input {
    display: none;
}

.privacy-options {
    width: auto;
}

select {
    width: 150px;
    padding: 8px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    background-color: #292929;
    color: #fff;
}

.post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    border: 1px solid #3e3e3e;
    border-radius: 8px;
    color: #fff;
    width: auto;
    height: 40px;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 16px;
    margin: 12px 14px;
    cursor: pointer;
}

.post-btn:hover {
    border: 1px solid #fff;
}

.alert {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #dc3545;
    color: #fff;
}
