.container{
    margin-top:100px; 
    margin-left:500px;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.card-header .header{
    margin: auto;
}

.profile-content {
    margin-left: 60px;
}
