body {
    margin: 0;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 900px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left {
    flex: 1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 50px;
    position: relative;
    width: 100%;
    height: auto;
}

.right {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right h1 {
    font-size: 40px;
    font-weight: bold;
}

.logo {
    width: 40px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
}

.right form {
    width: 100%;
    max-width: 400px;
}

.oauthButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: auto 15px 15px auto;
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #292929;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    color: #292929;
    cursor: pointer;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.oauthButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #000;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.oauthButton:hover {
    color: #fff;
}

.oauthButton:hover::before {
    width: 100%;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.right form input {
    width: 100%;
    padding-right: 2.5rem;
    padding: 0.875rem;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.right form input:focus {
    box-shadow: 4px 6px 0 #000;
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

input[type="date"]:focus::-webkit-input-placeholder,
input[type="date"]:valid::-webkit-input-placeholder {
    color: transparent;
}

.gender-selection {
    width: 95%;
    padding: 15px;
    margin: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.gender-selection label {
    margin-right: 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #000;
}

input[type="radio"] + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #000;
}

input[type="radio"]:checked + label:before {
    background-color: #000;
}

input[type="radio"]:checked + label {
    color: #000;
    font-weight: bold;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input[type="password"] {
    width: 100%;
    padding-right: 40px; /* Add space for the toggle icon */
    padding: 0.875rem;
    margin-bottom: 20px;
    font-size: 1rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #000;
    outline: none;
    transition: ease 0.25s;
}

.toggle-password {
    position: absolute;
    top: 38%;
    right: 30px;
    transform: translateY(-50%);
    color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    fill: #6c757d;
}

.toggle-password .eye,
.toggle-password .eye-slash {
    position: absolute;
    animation: keyframes-fill 0.5s;
}

.toggle-password .eye-slash {
    display: none;
}

.toggle-password input:checked ~ .eye {
    display: none;
}

.toggle-password input:checked ~ .eye-slash {
    display: block;
}

.toggle-password input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

@keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
    }
}

.right .register {
    display: flex;
    width: 80px;
    height: 40px;
    color: #fff;
    background: #000;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #292929;
    border-radius: 0.5rem;
    box-shadow: 2.5px 3px 0 #292929;
    cursor: pointer;
    margin: 35px 0;
}

.register:active {
    box-shadow: 3px 5px 0 #292929;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* For devices with a width of 600px or less */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .left {
        display: none; /* Hide the left section */
    }
    .right {
        width: 100%;
    }
    .toggle-password {
        right: 30px;
    }
}

/* For devices with a width between 601px and 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 80%;
    }

    .left {
        display: none; /* Hide the left section */
    }
    .right {
        width: 100%;
    }
    .toggle-password {
        right: 30px;
    }
}

/* For devices with a width of 1025px or more */
@media (min-width: 1025px) {
    .container {
        width: 70%;
        flex-direction: row;
    }

    .left {
        width: 50%; /* Two columns side by side */
        padding: 50px;
    }
    .right {
        width: 50%;
    }
    .toggle-password {
        right: 30px;
    }
}
